.Filter{
  background-color: hotpink;
  width: 150px;
  height: 80px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: solid 2px white;
  text-decoration: none;
}

.FilterCurrent {
  background-color: #E6C8F8;
  height: 80px;
  width: 150px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  border: solid 2px white;
  text-decoration: none;
}

.FilterCurrent:hover {
  border: solid 2px white;
  background-color: rgba(255, 255, 255, 0.3);
  transition: ease-in 0.2s;
}